{% extends 'base.html' %}
{% block content %}

<div class="container d-flex justify-content-center">
    <div class="w-50 p-3 m-4" style="background-color: #eee;">
        <div class=""> username </div>
        <div class=" "><img class="img-fluid img-thumbnail w-75 rounded mx-auto d-block" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png">
        </div>
        <div> text </div>
    </div>
</div>

{% endblock content%}